gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java

# Remember to never publicly share your keystore.
# See https://flutter.dev/docs/deployment/android#reference-the-keystore-from-the-app
key.properties
**/*.keystore
**/*.jks
/app/build/intermediates/assets/debug/flutter_assets/.env
/app/build/intermediates/flutter/debug/flutter_assets/.env
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/.env.jar
/app/build/intermediates/flutter/debug/.last_build_id
/app/build/outputs/apk/debug/app-debug.apk
/app/build/intermediates/assets/debug/flutter_assets/AssetManifest.bin
/app/build/intermediates/flutter/debug/flutter_assets/AssetManifest.bin
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/AssetManifest.bin.jar
/app/build/intermediates/assets/debug/flutter_assets/AssetManifest.json
/app/build/intermediates/flutter/debug/flutter_assets/AssetManifest.json
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/AssetManifest.json.jar
/app/build/intermediates/assets/debug/flutter_assets/packages/cupertino_icons/assets/CupertinoIcons.ttf
/app/build/intermediates/flutter/debug/flutter_assets/packages/cupertino_icons/assets/CupertinoIcons.ttf
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/packages/cupertino_icons/assets/CupertinoIcons.ttf.jar
/app/build/intermediates/assets/debug/flutter_assets/lib/assets/dark_bus_icon.svg
/app/build/intermediates/flutter/debug/flutter_assets/lib/assets/dark_bus_icon.svg
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/lib/assets/dark_bus_icon.svg.jar
/app/build/intermediates/flutter/debug/flutter_build.d
/app/build/intermediates/assets/debug/flutter_assets/FontManifest.json
/app/build/intermediates/flutter/debug/flutter_assets/FontManifest.json
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/FontManifest.json.jar
/app/build/intermediates/assets/debug/flutter_assets/lib/assets/icon.png
/app/build/intermediates/flutter/debug/flutter_assets/lib/assets/icon.png
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/lib/assets/icon.png.jar
/app/build/intermediates/assets/debug/flutter_assets/shaders/ink_sparkle.frag
/app/build/intermediates/flutter/debug/flutter_assets/shaders/ink_sparkle.frag
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/shaders/ink_sparkle.frag.jar
/app/build/intermediates/assets/debug/flutter_assets/isolate_snapshot_data
/app/build/intermediates/flutter/debug/flutter_assets/isolate_snapshot_data
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/isolate_snapshot_data.jar
/app/build/intermediates/assets/debug/flutter_assets/kernel_blob.bin
/app/build/intermediates/flutter/debug/flutter_assets/kernel_blob.bin
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/kernel_blob.bin.jar
/app/build/intermediates/flutter/debug/libs.jar
/app/build/intermediates/assets/debug/flutter_assets/lib/assets/light_bus_icon.svg
/app/build/intermediates/flutter/debug/flutter_assets/lib/assets/light_bus_icon.svg
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/lib/assets/light_bus_icon.svg.jar
/app/build/outputs/logs/manifest-merger-debug-report.txt
/app/build/intermediates/assets/debug/flutter_assets/lib/assets/fonts/Manrope-Bold.ttf
/app/build/intermediates/flutter/debug/flutter_assets/lib/assets/fonts/Manrope-Bold.ttf
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/lib/assets/fonts/Manrope-Bold.ttf.jar
/app/build/intermediates/assets/debug/flutter_assets/lib/assets/fonts/Manrope-Regular.ttf
/app/build/intermediates/flutter/debug/flutter_assets/lib/assets/fonts/Manrope-Regular.ttf
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/lib/assets/fonts/Manrope-Regular.ttf.jar
/app/build/intermediates/assets/debug/flutter_assets/fonts/MaterialIcons-Regular.otf
/app/build/intermediates/flutter/debug/flutter_assets/fonts/MaterialIcons-Regular.otf
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/fonts/MaterialIcons-Regular.otf.jar
/app/build/intermediates/incremental/mergeDebugAssets/merger.xml
/app/build/intermediates/assets/debug/flutter_assets/NOTICES.Z
/app/build/intermediates/flutter/debug/flutter_assets/NOTICES.Z
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/NOTICES.Z.jar
/app/build/intermediates/processed_res/debug/out/output-metadata.json
/app/build/outputs/apk/debug/output-metadata.json
/app/build/intermediates/symbol_list_with_package_name/debug/package-aware-r.txt
/app/build/intermediates/compile_and_runtime_not_namespaced_r_class_jar/debug/R.jar
/app/build/intermediates/runtime_symbol_list/debug/R.txt
/app/build/intermediates/processed_res/debug/out/resources-debug.ap_
/app/build/intermediates/assets/debug/flutter_assets/lib/assets/splash_screen_app_icon.svg
/app/build/intermediates/flutter/debug/flutter_assets/lib/assets/splash_screen_app_icon.svg
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/lib/assets/splash_screen_app_icon.svg.jar
/app/build/intermediates/assets/debug/flutter_assets/vm_snapshot_data
/app/build/intermediates/flutter/debug/flutter_assets/vm_snapshot_data
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/vm_snapshot_data.jar
